@media(min-width: 768px) {
  .tables {
    margin: 30px;
  }
  .column { 
    display: inline-block;
  }

  #left {
    width: 50%;
  }
  #right {
    width: 25%;
    margin-right: 10%;
    float: right;
  }
}