body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.page {
  padding-top: 100px;
  padding-bottom: 80px;
}

.top-header {
  margin-bottom: 2rem !important;
}

#nav-bar {
  z-index: 10;
}

.ui.modal {
  margin-top: 0 !important;
}

.ui.page.modals.transition.visible {
  display: flex !important;
}
